:root {
    --gameBorder: rgb(187, 173, 160);
    --gameBackground: rgb(205, 193, 180);
    --scoreText: rgb(238, 228, 218);
    --title: rgb(119, 110, 101);
    --newGame: rgb(143, 122, 102);
    --activeNewGame: rgb(135, 115, 90);
    --min: min(1vh, 1vw);
    --border: calc(3 / 100 * 60 * var(--min)); /* Game Size To Border Ratio */
    --javascriptMin: calc(-15 * var(--min));
    /* Dynamic Animations */
    --green: green;
    --blue: blue;
    --yellow: yellow; 
}

body {
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(250,248,239);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#game-container {
    width: calc(60 * var(--min));
    height: calc(60 * var(--min));
    margin-top: calc(3 * var(--min));
    margin-bottom: 4vh;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    width: calc(100% - var(--border) * 2);
    height: calc(100% - var(--border) * 2);
    border: var(--border) solid var(--gameBorder);
    border-radius: var(--border);
    z-index: 0;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container > :not(:last-child) {
    border-bottom: var(--border) solid var(--gameBorder);
}

.grid-cell {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: var(--gameBackground);
}

.grid-row > :not(:last-child) {
    border-right: var(--border) solid var(--gameBorder);
}

#game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(60 * var(--min));
    height: calc(15 * var(--min));
    padding-bottom: calc(var(--min));
    margin-top: 3vh;
    z-index: 100;
}

#game-header > h1 {
    font-size: calc(10 * var(--min));
    color: var(--title);
}

.restart {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: calc(1 * var(--min));
    border: calc(var(--min) / 3) solid var(--newGame);
    border-radius: var(--min);
    font-weight: bold;
    font-size: calc(11 / 4 * var(--min));
    background-color: var(--newGame);
    color: white;
    z-index: 100;
}

.restart:hover {
    cursor: pointer;
    border: calc(var(--min) / 3) solid var(--title);
}

.restart:active {
    background-color: var(--activeNewGame);
}

.game-tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(15 * var(--min) - 5 / 4 * var(--border));
    height: calc(15 * var(--min) - 5 / 4 * var(--border));
    font-weight: bold;
    font-size: calc(7 * var(--min));
    z-index: 1;
}

.score-container {
    display: flex;
    justify-content: right;
    width: 100%;
    gap: calc(2 * var(--min));
    font-size: calc(5 * var(--min));
}

.score-container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: calc(15 * var(--min));
    width: fit-content;
    height: calc(8 * var(--min));
    padding-top: var(--min);
    border-radius: var(--min);
    color: white;
    background-color: var(--gameBorder);
}

.score-container > *::before {
    font-weight: bold;
    font-size: calc(15 * var(--min) / 8);
    color: var(--scoreText);
}

#current-score::before {
    content: "SCORE";
    
}

#best-score::before {
    content: "BEST";
}

#game-over-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: calc(8 * var(--min));
    gap: calc(6 * var(--min));
    background-color: rgb(250, 248, 239);
    z-index: 10;
}

#game-over-text {
    text-align: center;
    width: 100%;
    font-size: calc(15 / 2 * var(--min));
    color: var(--title);
    z-index: 10;
}

#game-over-btn {
    display: flex;
    text-align: center;
    width: fit-content;
    padding-left: calc(2 * var(--min));
    padding-right: calc(2 * var(--min));
    padding-top: calc(5 / 4 * var(--min));
    padding-bottom: calc(5 / 4 * var(--min));
    z-index: 10;
}

.add-score {
    position: absolute;
    margin-top: calc(15 * var(--min));
    font-size: calc(7 * var(--min) / 2);
    color: var(--title);
    background-color: rgba(0, 0, 0, 0);
}


@keyframes anim {
    0% { background-color: var(--green); }
    25% { background-color: var(--blue); }
    50% { background-color: var(--yellow); }
}