:root {
    --gameBorder: rgb(187, 173, 160);
    --gameBackground: rgb(205, 193, 180);
    --scoreText: rgb(238, 228, 218);
    --title: rgb(119, 110, 101);
    --newGame: rgb(143, 122, 102);
    --activeNewGame: rgb(135, 115, 90);
    --min: min(1vh, 1vw);
    --border: calc(0.03 * 60 * var(--min)) /* Game Size To Border Ratio */
}

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Container*/
#container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(250,248,239);
    user-select: none;
}

#game-container {
    width: 530;
    height: 530px;
    margin-top: 30px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(1fr);
    width: 500px;
    height: 500px;
    border: 15px solid var(--gameBorder);
    border-radius: 15px;
    z-index: 0;
}

.grid-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container > :not(:last-child) {
    border-bottom: 15px solid var(--gameBorder);
}

.grid-cell {
    display: flex;
    background-color: var(--gameBackground);
    width: 100%;
    height: 100%;
}

.grid-row > :not(:last-child) {
    border-right: 15px solid var(--gameBorder);
}

#game-header {
    display: flex;
    width: 500px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    z-index: 100;
}

#game-header > h1 {
    color: var(--title);
    font-size: 5rem;
}

.restart {
    all: unset;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border: 2px solid var(--newGame);
    border-radius: 5px;
    background-color: var(--newGame);
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 100;
}

.restart:hover {
    cursor: pointer;
    border: 2px solid var(--title);
}

.restart:active {
    background-color: var(--activeNewGame);
}

.game-tile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 113.75px;
    height: 113.75px;
    z-index: 1;
    font-size: 65px;
}

.score-container {
    display: flex;
    justify-content: space-evenly;
    font-size: 40px;
    padding-left: 100px;
    width: 100%;
    gap: 25px;
}

.score-container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50%;
    min-width: 100px;
    color: white;
    background-color: var(--gameBorder);
    border-radius: 5px;
    width: fit-content;
}

#current-score::before {
    font-size: 15px;
    font-weight: bold;
    content: "SCORE";
    color: var(--scoreText);
}

#best-score::before {
    font-size: 15px;
    font-weight: bold;
    content: "BEST";
    color: var(--scoreText);
}
/*------------FIX------------*/

#game-over-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 32%;
    background-color: rgb(250, 248, 239);
    z-index: 10;
}

#game-over-text {
    font-size: 65px;
    color: var(--title);
    z-index: 10;
}

#game-over-btn {
    width: 100px;
    height: 20px;
    z-index: 10;
}

@media (max-width: 800px), (max-height: 800px) {
    #game-container {
        width: calc(60 * var(--min));
        height: calc(60 * var(--min));
        margin-top: calc(3 * var(--min));
        margin-bottom: 4vh;
    }
    #grid-container {
        width: calc(100% - var(--border) * 2);
        height: calc(100% - var(--border) * 2);
        border: var(--border) solid var(--gameBorder);
        border-radius: var(--border);
    }
    #grid-container > :not(:last-child) {
        border-bottom: var(--border) solid var(--gameBorder);
    }
    .grid-row > :not(:last-child) {
        border-right: var(--border) solid var(--gameBorder);
    }
    #game-header {
        width: calc(60 * var(--min));
        height: calc(15 * var(--min));
        padding-bottom: calc(var(--min));
        margin-top: 3vh;
    }
    #game-header > h1 {
        font-size: calc(10 * var(--min));
    }
    .restart {
        font-size: calc(3 * var(--min));
        height: fit-content;
        width: fit-content;
        padding: calc(1 * var(--min));
        border: calc(0.25 * var(--min)) solid var(--newGame);
        border-radius: var(--min);
    }
    .restart:hover {
        border: calc(0.25 * var(--min)) solid var(--title);
    }
    .restart:active {
        background-color: var(--activeNewGame);
    }
    .game-tile {
        height: calc(15 * var(--min) - 5 / 4 * var(--border));
        width: calc(15 * var(--min) - 5 / 4 * var(--border));
        font-size: calc(8 * var(--min));
    }
    .score-container {
        justify-content: right;
        font-size: calc(5 * var(--min));
        padding-left: 0px;
        gap: calc(2 * var(--min));
    }
    .score-container > * {
        min-width: calc(15 * var(--min));
        height: calc(8 * var(--min));
        padding: 0px;
        padding-top: var(--min);
        border-radius: var(--min);
    }
    #current-score::before {
        font-size: calc(3 * calc(5 * var(--min)) / 8)
    }
    #best-score::before {
        font-size: calc(3 * calc(5 * var(--min)) / 8)
    }
}